
html {
  background-color: #282c34;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nasaImage img {
  max-width: 800px;
}

.photoContainer {
  color: white;
}

.photoContainer .copyright {
  color: grey;
}

.imageTitle {
  padding-bottom: 30px;
  font-size: 1.8rem;
}

.infoBox {
  color: white;
}

h2 {
  padding-top: 20px;
  font-size: 4rem;
  color: white;
}

.date {
  color: white;
  font-size: 2rem;
  padding-bottom: 40px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
} 

.infoBox {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 30px;
}
